.mat-card.post__container {
  padding: 0;
  max-width: 830px;
  margin: 20px auto 10px;
}
.mat-card.comments__container {
  max-width: 800px;
  margin: 20px auto 10px;
}
.post__content {
  min-height: 400px;
  padding: 16px;
}
.mat-card-title.post__title {
  margin-top: 10px;
}
.mat-card-avatar {
  display: inline;
  margin-right: 10px;
}
.user__info {
  margin: 30px auto;
  display: flex;
  align-items: center;
}
.mat-card-subtitle.username {
  margin: 0 auto 5px;
}
.date {
  margin: 0;
}
.post__image {
  width: 100%;
  height: auto;
}
.comment-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}
.comment-list__item {
  list-style: none;
}
.comment__container {
  padding: 16px;
  margin-bottom: 4px;
  font-size: 12px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 16px 0 rgba(0, 0, 0, 0.19);
}
.username {
  font-size: 14px;
}
.date {
  font-size: 10px;
  color: gray;
}
.btn__container {
  display: flex;
  justify-content: flex-end;
}
.btn {
  margin: 10px;
}

