label {
  display: block;
}
input.ng-valid {
  background-color: rgb(193, 224, 146);
}
input.ng-invalid {
  background-color: rgb(235, 164, 156);;
}
input.ng-untouched {
  background-color: rgb(200, 192, 192);
}
.errorText {
  background-color: rgba(248, 181, 173, 0.966);
}
.errorText p {
  padding: 10px;
}
