<p>posts-list works!</p>
<h2 class="post-list__title">Post List</h2>

<button
  *ngIf="userLogin; else noLogin"
  (click)="onNavigate('newpost', '')"
  mat-raised-button color="primary"
  >New Post +
</button>

<ng-template class="noLogin" #noLogin>
  To create, update or delete post, please Login first
  <a class="nav__link" [routerLink]="['/login']">here >></a>
</ng-template>

<ol class="posts__list" *ngIf="posts$; else noPost">
  <li
    class="posts-list__item"
    *ngFor="let post of (posts$ | async)"
    id="post._id">
      <a class="post_link" [routerLink]="'/posts/' + post._id">
        <h3 class="post__title">{{ post.title }}</h3>
        <p class="date">{{ post.date | date }}</p>
      </a>

      <div *ngIf="userLogin">
        <button (click)="onDelete(post._id)">Delete Post</button>
        <button (click)="onNavigate('newpost/', post._id)">Update Post</button>
      </div>
  </li>
</ol>

<ng-template #noPost>
  No posts yet. Create a new post
  <a [routerLink]="['/newpost']">here >></a>
</ng-template>
